# Virtual Environment
.venv/
venv/
ENV/

# Secrets & Keys (NEVER PUSH TO GITHUB)
.env


credentials.json

__pycache__/

chromadb_store/
# Vector DB storage (Generated locally)
#chromadb_store/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Streamlit config
.streamlit/